.header{
height:1000px;
border:1px solid black;
background: linear-gradient(to top left, powderblue, pink);
}
a{
    text-decoration: none;
    color: rgb(31, 0, 206);
}
tr{
    border: 1px solid black;
}
.firstlesson{
    margin:50px 0px 0px 50px;
    width: 400px;
    height:200px;
    background-color: rgb(253, 253, 253);
}
.button {
    background-color: #fae4e4;
    border: none;
    color: rgb(0, 0, 0);
    padding: 50px 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
a:hover {background: #0078BF; color: #fff;}